<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>

    <div>
      <h1> <%= @player1_name %>
      <h3> HP: <%= @p1hp %> </h3>
      <form>
        <button type="button" id="p1_attack_button"
          onclick="document.getElementById('battle_updates').innerHTML =
          '<%= @player1_name %> attacked <%= @player2_name %>'">
          Attack Player 2
        </button>
      </form>
    </div>

    <div>
      <text>Updates: <p id="battle_updates"></p> </text>
    </div>

    <div>
      <h1> <%= @player2_name %> </h1>
      <h3> HP: <%= @p2hp %> </h3>
    </div>


  </body>

</html>
